.banner-intro
  background-image: url("../assets/curso/introduccion/img_fondo_intro.png"), url("../assets/curso/introduccion/img_flot1.svg")
  align-self: stretch
  background-repeat: no-repeat, no-repeat
  background-position: center bottom, 50% 20%
  background-size: 80%, 94%
  top: -1rem
  animation: Float 6s ease-in-out infinite
  img
    display: none


.imgbannerintro
  position: relative
  width: 1240px
  height: 400px
.hijofigura1
  position: absolute
  width: 217px
  height: 207px
  top: 320px
  left: 750px
.hijofigura2
  position: absolute
  width: 77px
  height: 77px
  top: 280px
  left: 200px
.hijofigura3
  position: absolute
  width: 87px
  height: 91px
  top: 200px
  left: 850px


 
.padrevideointro
  background-image: url("../assets/curso/introduccion/img_fon_video.svg")
  position: relative
  width: 1330px
  height: 497px
  bottom: 0px
  right: 50px

.hijovideointro
  position: absolute
  width: 1030px
  height: 487px
  bottom: 0px
  right: 0px

.bgrh3
  background-color: $color-secundario
  border-radius: 5%
  width: 250px
  height: 50px
  padding: 6px
  margin-right: 5px
  color: $black
  

.hijotext
  position: absolute
  width: 35px
  height: 33px
  top: -20px
  right: -20px

.bgrspan
  background-color: #FFF3BF

.contenavatar
  width: 85px
  height: 85px

.hijoacct
  position: absolute
  width: 147px
  height: 145px
  top: -45px
  left: 90px

.img_infog
  width: 624px
  height: 632px
  
.tflyp
  background-color: $white

.brgflyp
  background-color: #FFF3BF
  border-radius: 10px

.brgflyp2
  width: 223px
  height: 223px
  display: block
  margin: auto
  

.contenflip
  width: 400px
  height: 456px

   
  
  




